.company_page_content_wrap .content_nav_tabs{
margin:0px 0px 0px 20px;
}
.company_page_content_wrap .content_alert_nav li{
margin:10px 0px 0px 10px;
}
.company_page_content_wrap .content_alert_nav :first-child {
margin-right: 0px;
}
.company_page_content_wrap .content_nav_tabs li{
margin:0px 0px 0px 10px;
}
.company_page_info{
padding:5px 35px;
}
.company_page_info_left{
float:left;
position:relative;
z-index:1;
}
.company_logo{
background:#d6e4b4;
width:390px;
text-align:center;
height:175px;
padding-top:2px;
  -moz-border-radius: 15px; /* Firefox */
  -webkit-border-radius: 15px; /* Safari, Chrome */
  -khtml-border-radius: 15px; /* KHTML */
  border-radius: 15px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.company_logo_img{
margin:0px 0px 7px  0px;
background:#fff;
margin:0px auto;
width:384px;
height:140px;
  -moz-border-radius: 15px; /* Firefox */
  -webkit-border-radius: 15px; /* Safari, Chrome */
  -khtml-border-radius: 15px; /* KHTML */
  border-radius: 15px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.page_photo_button_center_overflow>a{
    vertical-align:top;
}
.page_photo_button_center_overflow>a{
border:1px solid #89b228;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* KHTML */
border-radius: 10px; /* CSS3 */
}
.page_photo_button_center_overflow{
overflow:hidden;
width:188px;
margin:5px auto 0px auto;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* KHTML */
border-radius: 10px; /* CSS3 */
/* Для плохих IE */
behavior: url(border-radius.htc); /* учим IE border-radius */				
}
.page_photo_button_center{ 
border:1px solid #89b228;
color:#000;
text-decoration:none;
padding:5px 0px 5px 0px;
width:186px;
display:block;
text-align:center;
background:#e6f6bf;
background: #eaf7ca; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZjdjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2JmZTI2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MmI4MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #eaf7ca 0%, #bfe26c 65%, #92b836 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf7ca), color-stop(65%,#bfe26c), color-stop(100%,#92b836)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eaf7ca 0%,#bfe26c 65%,#92b836 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eaf7ca 0%,#bfe26c 65%,#92b836 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eaf7ca 0%,#bfe26c 65%,#92b836 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eaf7ca 0%,#bfe26c 65%,#92b836 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf7ca', endColorstr='#92b836',GradientType=0 ); /* IE6-8 */
}
.company_page_nav_overflow{
overflow:hidden;
margin-top:10px;
border:2px solid #d6e4b4;
width:386px;
height:120px;
  -moz-border-radius: 7px; /* Firefox */
  -webkit-border-radius: 7px; /* Safari, Chrome */
  -khtml-border-radius: 7px; /* KHTML */
  border-radius: 7px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.company_page_nav{
width:430px;
height:125px;
position:relative;
}
.company_page_nav_unit{
float:left;
width:70px;
margin:10px 5px 0px 2px;
text-align:center;
height:100px;
}
.company_page_nav_unit a{
text-decoration:none;
color:#70747a;
position:relative;
top:5px;
}
.company_page_nav_unit_img{
cursor:pointer;
margin:0px auto;
width:46px;
height:46px;
border:2px solid #81b43a;
  -moz-border-radius: 7px; /* Firefox */
  -webkit-border-radius: 7px; /* Safari, Chrome */
  -khtml-border-radius: 7px; /* KHTML */
  border-radius: 7px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.company_page_nav_unit:hover div{
border:2px solid #e40001;
}
.company_page_nav_unit:hover a{
color:#e40001;
}
.company_page_nav_bottom{
position:absolute;
bottom:3px;
width:386px;
text-align:center;
}
.company_page_nav_bottom ul li{
display:inline;
}
.company_page_nav_bottom ul li a{
display:inline-block;
text-indent:999px;
padding:7px;
background:url(../img/company_page_nav.png) no-repeat top;
cursor:pointer;
}
.company_page_nav_bottom ul li.ui-tabs-active a{
background:url(../img/company_page_nav.png) no-repeat bottom;
}
.company_page_nav_bottom .content_nav_tabs li{
display:inline;
list-style:none;
margin-left:0px;
}
.content_tabs div.active {
    display:block;
    width:100%;
}
.company_page_info_right{
float:right;
width:560px;
overflow:hidden;
padding:0px 0px 5px 0px;
}
.company_page_info_title{
font-size:18px;
font-weight:bold;
color:#fff;
background:#add353;
position:relative;
left:-40px;
width:545px;
padding:3px 0px 5px 90px;

}
.company_page_info_title_left_bg{
position:absolute;
width:30px;
height:22px;
background:#add353;
right:0px;
top:0px;
z-index:-10;
}
.company_page_info_edit_left_bg{
position:absolute;
width:30px;
height:22px;
background:#ececec;
right:0px;
top:155px;
z-index:-1;
}
.company_info_contact{
padding:20px 0px 0px 25px;
line-height:20px;
position:relative;
}
.company_phone{
padding:10px;
width:172px;
height:87px;
background:url(../img/company_page_phone.jpg) no-repeat center;
position:absolute;
top:5px;
right:0px;
color:#fff;
}
.company_phone p{
font-size:18px;
}
.company_phone span{
display:block;
}
.company_info_contact .show_detail_info{
text-decoration:none;
line-height:45px;
color:#70747a;
}
p.company_page_edit{
background:#ececec;
position:relative;
left:-30px;
width:590px;
text-indent:80px;
height:17px;
margin-top:3px;
padding-top:2px;
}
.company_page_edit a{
color:#000;
text-decoration:none;
padding:0px 5px;
}
a.company_page_news_add{
margin-top:10px;
float:right;
display:block;
width:545px;
text-align:center;
padding:7px 0px;
border:2px solid #89b228;
font-size:14px;
color:#000;
text-decoration:none;
  -moz-border-radius: 7px; /* Firefox */
  -webkit-border-radius: 7px; /* Safari, Chrome */
  -khtml-border-radius: 7px; /* KHTML */
  border-radius: 7px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.company_page_news_bg{
margin-top:5px;
width:527px;
height:57px;
overflow:hidden;
background:#f9faf8;
border:1px solid #d8d8d8;
float:right;
padding:3px 10px;
line-height:14px;
}
.news_lenta_title{
color:#ff0000;
}
.company_page_news_bg a{
color:#29b243;
}
.company_page_news_bg span{
color:#ff0000;
}
.company_page_news_lenta{
width:527px;
float:right;
}
.company_page_news_lenta_action{
position:relative;
top:3px;
}
.news_lenta_action_left{
float:left;
color:#70747a;
text-decoration:none;
margin:0px 0px 0px -5px;
padding:0px 0px 5px 0px;
}
.news_lenta_action_right{
float:right;
color:#5bb023;
text-decoration:none;
margin:0px 15px 0px 0px;
padding:0px 0px 5px 0px;
}
/*Основной блок*/
.company_page_content_wrap_close{
position:absolute;
right:10px;
top:5px;
}
.company_page_content{
padding:0px 35px 20px 35px;
margin-top:5px 0px;
position:relative;
}
.company_page_content_wrap{
border-top:4px solid #89b228;
min-height:100px;
}
.content_setting  .company_page_private p{
font-weight: bold;
margin-top: 15px;
}
.content_setting  .company_page_notice p{
font-weight: bold;
margin-top: 15px;
}
.content_setting .company_page_notice p {
font-weight: bold;
color: #89b228;
}
.content_setting .company_page_notice p.edit_mail {
font-weight: normal;
color: #70747a;
text-indent: 15px;
margin-top: 5px;
}
.company_page_content_leftbg{
padding:3px 0px 0px 0px;
width:30px;
height:102px;
position:absolute;
left:5px;
top:0px;
background:url(../img/catalog_bg.png) no-repeat;
text-align:center;
color:#6c0609;
}
.company_page_content_leftbg p{
line-height:14px;
font-size:14px;
}
.wrap_title{
position:relative;
font-size:14px;
padding:10px 0px 7px 30px;
background:#fdfdfc;
border-bottom:1px solid #f2cacc;
font-weight:bold;
}
.product_town_nav{
margin:5px 0px 5px 15px;
}
.product_town_nav li{
list-style:none;
display:inline;
margin:0px 10px 0px 0px;
}
.product_town_nav li span{
color:#8b8e93;
cursor:pointer;
text-decoration:underline;
}
.product_town_nav li span:hover{
text-decoration:none;
}
.product_town_nav li span.active{
color:#000;
}
/*Каталог товар*/
.wrap_product_row{
margin:10px 0px 0px 0px;
width:980px;
}
.wrap_product_row_unit{
width:220px;
height:133px;
border:1px solid #d9d9d9;
float:left;
margin:0px 8px 0px 0px;
padding:10px 5px;
  -moz-border-radius: 7px; /* Firefox */
  -webkit-border-radius: 7px; /* Safari, Chrome */
  -khtml-border-radius: 7px; /* KHTML */
  border-radius: 7px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.product_row_unit_left{
float:left;
margin:0px 5px 0px 0px;
}
.product_row_unit_img{
overflow:hidden;
cursor:pointer;
}
.product_unit_name{
color:#5bb023;
font-weight:bold;
margin-bottom:30px;
}
.product_unit_sum{
font-size:12px;
margin:0px 5px 0px 0px;
}
.product_unit_sum_bold{
font-size:14px;
font-weight:bold;
}
.product_unit_volume{
font-size:11px;
}
.product_row_unit_action{
margin:0px 0px 0px 20px;
}
.product_row_unit_action a{
text-indent:9999px;
margin:3px 10px 0px 0px;
display:block;
float:left;
width:18px;
height:18px;
}
.product_unit_close{
background:url(../img/product_close.png) no-repeat;
}
.product_unit_edit{
background:url(../img/product_edit.png) no-repeat;
}
.unit_add_product{
background:#ececec;
cursor:pointer;
opacity:0.5;
text-align:center;
}
.unit_add_product:hover{
opacity:1;
}
.unit_add_product_title{
font-size:18px;
text-align:center;
padding:8px 0px 0px 0px;
background: url(../img/product_add_unit.png) no-repeat;
width:194px;
height:29px;
margin:47px auto 0px auto;
color:#70747a;
}
.unit_add_product_more{
border:1px solid #ab0101;
background:#e09ea0;
cursor:pointer;
opacity:0.6;
}
.unit_add_product_more:hover{
opacity:1;
}
.unit_add_product_more_title{
font-size:18px;
text-align:center;
padding:2px 0px 0px 0px;
background: url(../img/product_add_unit_more.png) no-repeat;
width:194px;
height:43px;
margin:47px auto 0px auto;
color:#6c0609;
}
.wrap_product_add_title{
color:#89b228;
margin:5px 15px;
}
.wrap_product_add_title a{
float:right;
color:#29b243;
}
.product_add_new_left{
width:165px;
text-align:right;
float:left;
}
.company_page_content .friends_row_unit{
margin:0px 19px;
}
.company_page_content .content_friends_row{
width:980px;
}
/*Сервисы*/
.unit_add_service_title_top_bg{
display:block;
width:194px;
height:10px;
background:url(../img/unit_add_service_title_top_bg.png) no-repeat top;
}
.unit_add_service_title_center_bg{
background:url(../img/unit_add_service_title_center_bg.png) repeat-y;
display:block;
width:194px;
min-height:20px;
text-align:center;
color:#313131;
font-size:18px;
}
.unit_add_service_title_bottom_bg{
display:block;
width:194px;
height:10px;
background:url(../img/unit_add_service_title_bottom_bg.png) no-repeat top;
}
.unit_add_service_title{
width:194px;
display:-moz-inline-box;
display:inline-block;
vertical-align:middle;
zoom:1;
//display:inline;
}
.unit_add_service_vertical_align{
 display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0px;
    zoom:1;
    //display:inline;
}
.unit_add_service{
background:#ececec;
cursor:pointer;
opacity:0.5;
text-align:center;
}
.unit_add_service_bg{
background:#272727 url(../img/unit_add_service_bg.png) center center no-repeat;
}
.unit_add_service:hover{
opacity:1;
}
/*Статистика*/
.wrap_settings,
.wrap_stat{
padding:0px 0px 20px 15px;
}
.wrap_stat_pay{
float:left;
width:410px;
margin:0px 35px 0px 0px;
}
.wrap_stat table{
border-collapse: collapse;
border-spacing: 0px 0px;
}
.wrap_stat table td{
border:1px solid #d1d1d1;
padding:3px 0px;
text-align:center;
}
.wrap_stat table caption{
color:#89b228;
text-align:left;
text-indent:15px;
font-weight:bold;
margin:0px 0px 10px 0px;
}
.wrap_stat table tr.wrap_stat_pay_title td{
font-weight:bold;
background:#ececec;
padding:7px 10px;
}
.wrap_stat table tr.wrap_stat_rate_title td{
font-weight:bold;
background:#d8eca8;
}
.wrap_stat table tr.wrap_stat_rate_title td.wrap_stat_rate_services{
width:390px;
text-align:left;
padding:7px 10px 7px 10px;
}
.wrap_stat_rate_date{
width:100px;
}
.wrap_stat table td.wrap_stat_rate_left_col{
text-align:left;
text-indent:10px;
}
/*Настройки*/
.company_page_edit_title{
font-weight:bold;
text-indent:23px;
color:#70747a;
}
.wrap_rate{
padding:0px 15px;
}
.wrap_cont_tab1{
display:none;
}
.wrap_cont_tab2{
display:none;
}
.wrap_cont_tab3{
display:none;
}
.wrap_cont_tab4{
display:none;
}
.wrap_cont_tab4 p{
margin-top:15px;
}
.wrap_content_nav_tabs{
margin:10px 0px 0px 0px;
}
.wrap_content_nav_tabs span{
font-size:12px;
color:#70747a;
text-decoration:underline;
cursor:pointer;
}
.wrap_content_nav_tabs span:hover{
text-decoration:none;
}
.wrap_content_nav_tabs span.active{
color:#29b243;
text-decoration:none;
}
.company_page_select_styled{
   width: 545px;
   height: 20px;
   margin:10px 0px 0px 10px;
   overflow: hidden;
   background: url(../img/message_select_bg.png) no-repeat 530px;
   border: 1px solid #ccc;
   display:block;
   text-indent:9999px;
}
.company_page_select_styled select {
   background: transparent;
   width: 560px;
   font-size: 12px;
   border: 0;
   height: 20px;
   -webkit-appearance: none;
   text-indent:5px;
   }
.company_page_settings_select_users{
float:left;
margin:0px 5px 0px 0px;
}
.company_page_settings_select_rel{
position:relative;
float:right;
right:115px;
}
.company_page_select_styled_open{
position:absolute;
border: 1px solid #ccc;
width: 545px;
margin:0px 0px 0px 10px;
display:none;
padding:5px 0px;
background:#fff;
}
.company_page_select_styled_open ul li{
list-style:none;
}
.company_page_select_styled_open ul li label{
cursor:pointer;
width:545px;
display:block;
padding:2px 0px 3px 0px;
}
.company_page_select_styled_open ul li label:hover{
background:#ececec;
}
.company_page_select_styled_open ul li label input{
margin:0px 18px 0px 5px;
position:relative;
top:2px;
}
.comapny_page_settings_choice_user li{
display:inline;
}
.comapny_page_settings_choice_user li a{
margin:0px 0px 0px 5px;
color:#29b243;
}
span.settings_how_users_choice{
margin:0px 5px;
}
  /*Тарифы*/
 /*Отзывы*/
.basic_content_message .content_nav_tabs li span{
text-decoration:none;
}
.content_nav_tabs li{
display:inline;
}
.basic_content_reviwes_table{
width:100%;
border:1px solid #cdeb87;
margin:5px 0px 30px 0px;
}
.reviwes_table_title{
padding:0px 0px 5px 5px;
}
.content_reviews_nav{
float:left;
margin:5px 0px 0px 0px;
width:300px;
}
.content_nav_tabs.content_reviews_nav li{
margin:0px 0px 0px 5px;
}
.content_reviews_nav_action{
float:right;
margin:5px 15px 0px 0px;
}
.content_reviews_nav_action li{
display:inline;
list-style:none;
margin-left:10px;
}
.content_reviews_nav_action li span{
color:#ff0000;
text-decoration:underline;
cursor:pointer;
}
.content_reviews_nav_action li span:hover{
text-decoration:none;
}
.content_reviews_nav li span{
text-decoration:underline;
font-size:12px;
color:#29b243;
cursor:pointer;
}
.content_reviews_nav_first{
text-decoration:none;
}
.content_reviews_row{
padding:20px 15px 20px 0px;
border-top:1px solid #b7b9bc;
position:relative;
}
.content_reviews_row:hover .reviwes_delete{
display:block;
}
a.reviwes_go{
color:#29b243;
}
.content_reviews_row .alert_time{
float:right;
}
.reviwes_no_read{
font-weight:bold;
}
.reviwes_delete{
font-weight:bold;
display:none;
background:#fff;
z-index:10;
width:12px;
height:15px;
padding-left:4px;
position:absolute;
right:10px;
top:5px;
cursor:pointer;
border:1px solid #ff0000;
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  -khtml-border-radius: 10px; /* KHTML */
  border-radius: 10px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.reviews_row_col1{
height:60px;
overflow:hidden;
float:left;
margin:0px 0px 0px 15px;
}
.reviews_row_col2{
float:left;
height:40px;
padding:10px;
width:150px;
line-height:18px;
}
.reviews_row_col3{
float:left;
height:100%;
padding:0px 10px;
width:390px;
line-height:18px;
}
.reviews_row_col2 a{
color:#29b243;
}
.reviwes_row_col_date{
float:right;
margin:15px 0px 0px 0px;
}
.content_reviews_row .green_red_button_left + label{
background: url("../img/message_radio_button.jpg") no-repeat left center;
cursor: pointer;
padding-left: 20px;
margin-left:5px;
font-size:12px;
display:block;
margin-top:25px;
color:#fff;
float:left;
}
.green_red_button_left:checked + label {
        background: url("../img/message_radio_button_change.jpg") no-repeat left center;
}
/*География*/
.wrap_geographi{
font-size:14px;
}
.wrap_geographi_box{
position:relative;
overflow:hidden;
padding:10px;
background:#f9faf8;
margin:10px 0px 0px 0px;
border:1px solid transparent;
}
.wrap_geographi_box:hover{
border:1px solid #d8d8d8;
}
.wrap_geographi_box:hover .wrap_geographi_box_action{
display:block;
}
.wrap_geographi_box_name{
color:#89b228;
font-weight:bold;
padding:0px 0px 5px 0px;
}
.wrap_geographi_box_country a{
color:#29b243;
}
.wrap_geographi_address{
margin:10px 0px 0px 0px;
}
.wrap_geographi_box_action{
display:none;
position:absolute;
right:10px;
top:5px;
}
.wrap_geographi_box_action_edit{
display:inline-block;
width:15px;
height:15px;
text-indent:9999px;
background:url(../img/wrap_geographi_box_action_edit.png) no-repeat;
}
.wrap_geographi_box_action_delete{
display:inline-block;
width:15px;
height:15px;
text-indent:9999px;
background:url(../img/wrap_geographi_box_action_delete.png) no-repeat;
margin:0px 0px 0px 5px;
}
.wrap_geographi_add_box{
padding:0px 0px 20px 0xp;
margin:15px 0px 0px 0px;
}
.wrap_geographi_add_button{
text-decoration:underline;
cursor:pointer;
z-index:-999;
background:#f9faf8;
padding:5px 10px;
color:#70747a;
border:1px solid #d8d8d8;
  -moz-border-radius: 15px; /* Firefox */
  -webkit-border-radius: 15px; /* Safari, Chrome */
  -khtml-border-radius: 15px; /* KHTML */
  border-radius: 15px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.new_agency_title{
font-size:14px;
color:#70747a;
font-weight:bold;
background:#ececec;
padding:5px 10px;
overflow:hidden;
}
.new_agency_delete{
cursor:pointer;
text-indent:9999px;
display:block;
width:15px;
height:13px;
float:right;
background:url(../img/wrap_geographi_box_action_delete.png) no-repeat;
}
.wrap_geographi_new_agency{
position:relative;
display:none;
z-index:999;
margin:-25px 0px 0px 0px;
background:#fff;
}
.new_agency_row{
padding:10px 0px 0px 0px;
}
.company_page_general_left{
color:#808080;
float:left;
width:200px;
text-align:right;
padding:3px 10px 0px 0px;
font-size:12px;
}
.company_page_general_right{
line-height:25px;
text-align:left;
}
.company_page_general_right input{
display:block;
width:738px;
font-size:12px;
}
.company_page_general_right select{
display:block;
width:266px;
}
.company_page_general_right textarea{
height:45px;
width:738px;
}
.submit_button_grey{
background:#70747a;
}
.content_setting_save_grey{
margin:10px auto 0px auto;
padding:1px 0px 0px 1px;
display:block;
width:74px;
height:22px;
background:#70747a;
text-align:center;
-moz-border-radius: 2px; /* Firefox */
-webkit-border-radius: 2px; /* Safari, Chrome */
-khtml-border-radius: 2px; /* KHTML */
border-radius: 2px; /* CSS3 */
/* Для плохих IE */
behavior: url(border-radius.htc); /* учим IE border-radius */
}
.content_setting_save_grey button{
cursor:pointer;
color:#fff;
border:2px solid #c5c7c9;
background:#70747a;
font-size:12px;
display:block;
width:73px;
height:21px;
-moz-border-radius: 2px; /* Firefox */
-webkit-border-radius: 2px; /* Safari, Chrome */
-khtml-border-radius: 2px; /* KHTML */
border-radius: 2px; /* CSS3 */
/* Для плохих IE */
behavior: url(border-radius.htc); /* учим IE border-radius */
}
.content_setting_save_grey button:hover{
cursor:pointer;
color:#fff;
border:2px solid #c5c7c9;
background:#9d9b9b;
display:block;
width:73px;
height:21px;
-moz-border-radius: 2px; /* Firefox */
-webkit-border-radius: 2px; /* Safari, Chrome */
-khtml-border-radius: 2px; /* KHTML */
border-radius: 2px; /* CSS3 */
/* Для плохих IE */
behavior: url(border-radius.htc); /* учим IE border-radius */
}
.who_see_you_page{
padding:15px 0px 0px 30px;;
}
.who_see_you_page>p{
color:#89b228;
}
.who_see_you_page>p>span{
color:#70747a;
margin:0px 0px 0px 20px;
}
.who_see_you_page>p>span>span{
margin:0px 0px 0px 5px;
}
.wrap_visitors_col{
border:1px solid #add353;
margin:15px 0px 0px 0px;
width:464px;
color:#70747a;
}
.wrap_visitors_col .left{
float:left;
}
.wrap_visitors_col .right{
float:right;
}
.wrap_visitors_col_title{
border-bottom:1px solid #add353;
text-align:center;
padding:10px 0px;
}
.visitors_row_unit{
float:left;
width:110px;
border:1px solid #fff;
padding:10px 15px 5px 15px;
text-align:center;
margin:5px 6px 15px 6px; 
}
.visitors_row_unit img:hover{
cursor:pointer;
}
.visitors_row_unit:hover{
border:1px solid #add353;
  -moz-border-radius: 3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  -khtml-border-radius: 3px; /* KHTML */
  border-radius: 3px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc); /* учим IE border-radius */
}
.visitors_row_unit a{
	font-size:14px;
	color:#29b243;
	display:block;
	font-size:12px;
	line-height:20px;
}